<VirtualHost *:80>
	#ServerName www.example.com

	ServerAdmin apparent-eng@apparent.com
	DocumentRoot {{ apache_sites_root }}/configurator
	DirectoryIndex index.php index.phtml index.html index.htm

	# Available loglevels: trace8, ..., trace1, debug, info, notice, warn,
	# error, crit, alert, emerg.
	LogLevel crit ssl:warn

	ErrorLog ${APACHE_LOG_DIR}/error.log
	CustomLog ${APACHE_LOG_DIR}/access.log combined

{% if item.htpasswd.enabled %}
	<Directory {{ apache_sites_root }}/configurator>
		AuthType Basic
		AuthName "Protected Area"
		AuthUserFile {{ apache_conf_root }}/.configurator_htpasswd
		Require valid-user
	</Directory>
{% endif %}

</VirtualHost>
