<VirtualHost *:80>
	#ServerName www.example.com

	ServerAdmin apparent-eng@apparent.com
	#DocumentRoot /usr/share/apparent/www/configurator
	DocumentRoot /home/gateway/gateway/configurator
	DirectoryIndex index.php index.phtml index.html index.htm
	#<Directory /usr/share/apparent/www/gui>
	<Directory />
            Require all granted
	</Directory>

	# Available loglevels: trace8, ..., trace1, debug, info, notice, warn,
	# error, crit, alert, emerg.
	#LogLevel info ssl:warn

	ErrorLog ${APACHE_LOG_DIR}/error.log
	CustomLog ${APACHE_LOG_DIR}/access.log combined


</VirtualHost>
