<IfModule mod_ssl.c>
	<VirtualHost _default_:443>
		ServerAdmin apparent-eng@apparent.com
		DocumentRoot {{ apache_sites_root }}/gui
		DirectoryIndex index.php index.phtml index.html index.htm
		<Directory {{ apache_sites_root }}/gui>
		    AllowOverride all
		    Options FollowSymLinks
		</Directory>

        LogLevel crit ssl:warn
		ErrorLog ${APACHE_LOG_DIR}/error.log
		CustomLog ${APACHE_LOG_DIR}/access.log combined

		SSLEngine on
		SSLCertificateFile {{ apache_conf_root }}/ssl/apache.crt
		SSLCertificateKeyFile {{ apache_conf_root }}/ssl/apache.key

		<FilesMatch "\.(cgi|shtml|phtml|php)$">
			SSLOptions +StdEnvVars
		</FilesMatch>

		<Directory /usr/lib/cgi-bin>
			SSLOptions +StdEnvVars
		</Directory>

{% if item.htpasswd.enabled %}
	<Directory {{ apache_sites_root }}/gui>
		AuthType Basic
		AuthName "Protected Area"
		AuthUserFile {{ apache_conf_root }}/.gui_htpasswd
		Require valid-user
	</Directory>
{% endif %}

		BrowserMatch "MSIE [2-6]" \
		nokeepalive ssl-unclean-shutdown \
		downgrade-1.0 force-response-1.0
		BrowserMatch "MSIE [17-9]" ssl-unclean-shutdown

	</VirtualHost>
</IfModule>