#
# nat table
#

*nat

:PREROUTING ACCEPT [0:0]
:INPUT ACCEPT [0:0]
:OUTPUT ACCEPT [0:0]
:POSTROUTING ACCEPT [0:0]
:postmodules - [0:0]
:premodules - [0:0]
-A PREROUTING -j premodules
-A POSTROUTING -j postmodules
-A POSTROUTING -o eth0 -j MASQUERADE

# Example of neorouter port forwarding
# -A PREROUTING -p tcp -i nrtap -d 10.0.0.36 --dport 9051 -j DNAT --to-destination 10.252.2.5:9001
# -A PREROUTING -p tcp -i nrtap -d 10.0.0.36 --dport 9041 -j DNAT --to-destination 10.252.2.4:9001
# -A PREROUTING -p tcp -i nrtap -d 10.0.0.36 --dport 9502 -j DNAT --to-destination 192.168.1.100:502

COMMIT

#
# filter table
#

*filter

:INPUT DROP [0:0]
:FORWARD DROP [0:0]
:OUTPUT DROP [0:0]

#
# INPUT chain
#

-A INPUT -i lo -j ACCEPT
-A INPUT -m state --state INVALID -j DROP
-A INPUT -m state --state RELATED,ESTABLISHED -j ACCEPT
#-A INPUT -i {{ wan.interface }} -p tcp -m tcp --dport 22 -m state --state NEW -j ACCEPT
#-A INPUT -i {{ wan.interface }} -p tcp -m tcp --dport 80 -m state --state NEW -j ACCEPT
#-A INPUT -i {{ wan.interface }} -p tcp -m tcp --dport 443 -m state --state NEW -j ACCEPT
#-A INPUT -i {{ wan.interface }} -p tcp -m tcp --dport 3306 -m state --state NEW -j ACCEPT
#-A INPUT -i {{ wan.interface }} -p tcp -m tcp --dport 64436 -m state --state NEW -j ACCEPT
#-A INPUT -i {{ wan.interface }} -p tcp -m tcp --dport 64437 -m state --state NEW -j ACCEPT
-A INPUT -i {{ wan.interface }} -m state --state NEW -j DROP
-A INPUT -s 10.252.0.0/16 ! -i {{ lan.interface }} -j DROP
-A INPUT -p udp -m udp --sport 67:68 --dport 67:68 -m state --state NEW -j ACCEPT
-A INPUT -p udp -m udp --dport 53 -m state --state NEW -j ACCEPT
-A INPUT -p tcp -m tcp --dport 53 -m state --state NEW -j ACCEPT
-A INPUT -p udp -m udp --dport 123 -m state --state NEW -j ACCEPT
-A INPUT -p udp -m udp --dport 60996 -m state --state NEW -j ACCEPT
-A INPUT -p udp -m udp --dport 60997 -m state --state NEW -j ACCEPT
-A INPUT -p udp -m udp --dport 60998 -m state --state NEW -j ACCEPT
-A INPUT -p tcp -m tcp --dport 22 -m state --state NEW -j ACCEPT
-A INPUT -p tcp -m tcp --dport 80 -m state --state NEW -j ACCEPT
-A INPUT -p tcp -m tcp --dport 443 -m state --state NEW -j ACCEPT
-A INPUT -p icmp ! -f -m icmp --icmp-type 8 -m state --state NEW -j ACCEPT
-A INPUT -p icmp ! -f -m icmp --icmp-type 0 -m state --state NEW -j ACCEPT
-A INPUT -p icmp ! -f -m icmp --icmp-type 3 -m state --state NEW -j ACCEPT
-A INPUT -p icmp ! -f -m icmp --icmp-type 4 -m state --state NEW -j ACCEPT
-A INPUT -p icmp ! -f -m icmp --icmp-type 11 -m state --state NEW -j ACCEPT
-A INPUT -p icmp ! -f -m icmp --icmp-type 12 -m state --state NEW -j ACCEPT
-A INPUT -j DROP

#
# FORWARD chain
#

-A FORWARD -m state --state INVALID -j DROP
-A FORWARD -m state --state RELATED,ESTABLISHED -j ACCEPT
-A FORWARD ! -i {{ lan.interface }} -s 10.252.0.0/16 -j DROP
-A FORWARD -i {{ wan.interface }} -m state --state NEW -j DROP
-A FORWARD -p udp -m udp --dport 123 -j ACCEPT
-A FORWARD -p udp -m udp --dport 53 -j ACCEPT
-A FORWARD -p tcp -m tcp --dport 53 -j ACCEPT
-A FORWARD -p tcp -m tcp --dport 22 -m state --state NEW -j ACCEPT
-A FORWARD -p tcp -m tcp --dport 80 -m state --state NEW -j ACCEPT
-A FORWARD -p tcp -m tcp --dport 443 -m state --state NEW -j ACCEPT
-A FORWARD -p icmp ! -f -m icmp --icmp-type 8 -m state --state NEW -j ACCEPT
-A FORWARD -p icmp ! -f -m icmp --icmp-type 0 -m state --state NEW -j ACCEPT
-A FORWARD -p icmp ! -f -m icmp --icmp-type 3 -m state --state NEW -j ACCEPT
-A FORWARD -p icmp ! -f -m icmp --icmp-type 4 -m state --state NEW -j ACCEPT
-A FORWARD -p icmp ! -f -m icmp --icmp-type 11 -m state --state NEW -j ACCEPT
-A FORWARD -p icmp ! -f -m icmp --icmp-type 12 -m state --state NEW -j ACCEPT
-A FORWARD -j DROP

#
# OUTPUT chain
#

-A OUTPUT -o lo -j ACCEPT
-A OUTPUT -m state --state INVALID -j DROP
-A OUTPUT -m state --state RELATED,ESTABLISHED -j ACCEPT
#-A OUTPUT -o {{ wan.interface }} -p udp -m state --state NEW -m udp --dport 67 -j ACCEPT
-A OUTPUT -m state --state NEW -j ACCEPT
-A OUTPUT -p icmp ! -f -m icmp --icmp-type 8 -m state --state NEW -j ACCEPT
-A OUTPUT -p icmp ! -f -m icmp --icmp-type 0 -m state --state NEW -j ACCEPT
-A OUTPUT -p icmp ! -f -m icmp --icmp-type 3 -m state --state NEW -j ACCEPT
-A OUTPUT -p icmp ! -f -m icmp --icmp-type 4 -m state --state NEW -j ACCEPT
-A OUTPUT -p icmp ! -f -m icmp --icmp-type 11 -m state --state NEW -j ACCEPT
-A OUTPUT -p icmp ! -f -m icmp --icmp-type 12 -m state --state NEW -j ACCEPT
-A OUTPUT -j DROP

COMMIT

#
# mangle table
#

*mangle

:PREROUTING ACCEPT [0:0]
:INPUT ACCEPT [0:0]
:FORWARD ACCEPT [0:0]
:OUTPUT ACCEPT [0:0]
:POSTROUTING ACCEPT [0:0]
:CHECKIP-TEST - [0:0]

-A PREROUTING -j CONNMARK --restore-mark --nfmask 0xffffffff --ctmask 0xffffffff
-A PREROUTING -i {{ wan.interface }} -m mark --mark 0x0/0xff -j MARK --set-xmark 0x1/0xffffffff
-A PREROUTING -m mark --mark 0x0/0xff -j MARK --set-xmark 0x1/0xffffffff
-A PREROUTING -j CONNMARK --save-mark --nfmask 0xffffffff --ctmask 0xffffffff
-A OUTPUT -j CONNMARK --restore-mark --nfmask 0xffffffff --ctmask 0xffffffff
-A OUTPUT -m mark --mark 0x0/0xff -j MARK --set-xmark 0x1/0xffffffff
-A OUTPUT -j CONNMARK --save-mark --nfmask 0xffffffff --ctmask 0xffffffff
-A OUTPUT -j CHECKIP-TEST

COMMIT

