127.0.0.1	localhost.localdomain localhost {{ gateway_name }}
127.0.1.1	zentyalvm.attlocal.net zentyalvm

# The following lines are desirable for IPv6 capable hosts
::1     localhost ip6-localhost ip6-loopback
ff02::1 ip6-allnodes
ff02::2 ip6-allrouters
