body {
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #eee;
}

.form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
    margin-bottom: 10px;
}
.form-signin .checkbox {
    font-weight: normal;
}
.form-signin .form-control {
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
}
.form-signin .form-control:focus {
    z-index: 2;
}
.form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.formBoxSection {
    border: 1px solid #a1a1a1;
    padding: 10px;
    width: 98%;
    border-radius: 15px;
    margin: 10px;
}
.formTextSpacing {
    padding-top: 7px; margin-left: 5px
}

.buttonAlignRight {
    display: block;
    float: right;
}

.nav-tabs>li>a {

    border: 1px solid lightgrey !important;
    border-radius: 4px 4px 0 0;
}

.nav-tabs>li>a:hover {
    border-color: lightgrey !important;
}
.infoIcon {
    color: #337ab7;
    float: left;
    margin-right: 5px;
    margin-top: 2px;
}

h3.rarely   {
    margin-bottom: 40px ;
}
.sortInvertersBoth {
    background-image: url("../images/sort_both.png");
    height: 19px;
    width: 19px;
    float: right;
}
.smallerText {
    font-size: xx-small;
}
.colorDarkGray {
    color: #A9A9A9;
}
.colorLightGray {
    color: #D3D3D3;
}
.footerBottomPage {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    background-color: #efefef;
    text-align: center;
}
.apparentBrand {
    text-align: right;
    margin-top: -5px;
    margin-bottom: -5px;
    font-family: 'Enriqueta', arial, serif; line-height: 1.25;  font-size: 20px; font-weight: bold;
}
.gatewayName {
    margin-top: -15px;
    margin-bottom: 5px;
    color: lightgrey;
}
.loading-overlay {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    opacity: 0.6;
}
#ajax-loader{
    position: relative;
    top: 80%;
    left: 50%;
}