#jinja2:trim_blocks: False
Source: apparent-gateway
Section: misc
Priority: optional
Standards-Version: 3.9.3
Maintainer: Apparent, Inc. <apparent-eng@apparent.com>
Build-Depends: debhelper (>= 9)

Package: apparent-gateway
Architecture: amd64
Depends: {% for d in gateway_apt_depends %}{{ d.name }} (={{ d.version}}){% if not loop.last %}, {% endif %}{% endfor %}
Description: Apparent Gateway Software
	Package includes gateway (meter/inverter) daemons and configurator/gui web apps.
