#
# WARNING: DO NOT MAKE EDITS TO THIS FILE; THEY WILL BE OVERWRITTEN BY ANSIBLE!!!
#
# EDITS SHOULD BE MADE IN ./provision/roles/daemons/templates/GatewayConstants.py.j2
#

GATEWAY_LAN_INTERFACE_NAME = '{{ lan.interface }}'
