description "monitoring daemon - apparent-gateway software"
author "Apparent, Inc. <apparent-eng@apparent.com"

# we may want to switch to using 'start on mysql-started' in the
# future now that this event is emitted by /etc/init.d/mysql

# wait until mysql has started (assumes mysql is started by upstart)
start on started mysql
stop on runlevel [0156]

env PYTHON_HOME={{ virtualenv_path }}

chdir {{ gateway_python_path }}
exec $PYTHON_HOME/bin/python {{ gateway_python_path }}/gateway_monitor.py
respawn
