#!/usr/bin/env python

#
# Usage: `dpkg -l | dpkg2yml > full_apt_depends.yml`
#

import sys

# ignore packages downloaded without using apt-get
ignore_list = [ {{ joined_apt_depends }}, "teamviewer9" ]

print "---\n\nfull_apt_depends:"
for line in sys.stdin:
	fields = line.split()
	if fields and fields[0] == 'ii' and fields[1] not in ignore_list:
		print "  - { name: \"%s\", version: \"%s\", arch: \"%s\", depends: \"%s=%s\"}" % (fields[1], fields[2], fields[3], fields[1], fields[2])
