#########################################################
#   DEFINE APPARENT GATEWAY LAN DHCP RANGE
#
#   Range:                              # of IP addresses
#   -----------------------------------------------------
#   10.252.2.1-10.252.7.254        ->   1280
#   10.252.2.1-10.252.8.254        ->   1536
#   10.252.2.1-10.252.9.254        ->   1792
#   10.252.2.1-10.252.10.254       ->   2048
#   10.252.2.1-10.252.11.254       ->   2304
#   10.252.2.1-10.252.12.254       ->   2560
#   10.252.2.1-10.252.13.254       ->   2816
#   10.252.2.1-10.252.14.254       ->   3072
#   10.252.2.1-10.252.15.254       ->   3328
#   10.252.2.1-10.252.16.254       ->   3584
#   10.252.2.1-10.252.17.254       ->   3840
#   10.252.2.1-10.252.18.254       ->   4096
#   10.252.2.1-10.252.19.254       ->   4352
#   10.252.2.1-10.252.20.254       ->   4608
#   10.252.2.1-10.252.21.254       ->   4864
#   10.252.2.1-10.252.22.254       ->   5120
#   ...
#   10.252.2.1-10.252.40.254       ->   10240
#########################################################
dhcp-range={{ lan.dhcp_range }}
