<?php
/**
 * This file is generated during ansible provisioning.
 */
    $vault_username = "{{ item.mysql.username }}";
    $vault_password = "{{ item.mysql.password }}";
    $vault_database = "{{ mysql_database_name }}";
?>
