<%args>
@iflist
$networkMod
</%args>
<%init>
use EBox::Config;

my @autoIfaces = ('lo');
push @autoIfaces, grep {
        my $ifMethod = $networkMod->ifaceMethod($_);
        (($ifMethod eq 'static') or ($ifMethod eq 'dhcp'))
   } @iflist;
</%init>
auto <% "@autoIfaces" %>

iface lo inet loopback
% foreach my $iface (@iflist) {
<& .ifaceSection,
      networkMod => $networkMod,
      iface => $iface,
      mtu =>  EBox::Config::configkey("mtu_$iface")
&>
% }
<%def .ifaceSection>
<%args>
$networkMod
$iface
</%args>
<%init>
my $method = $networkMod->ifaceMethod($iface);
# check if we should ignore the interface
if (($method ne 'static') and
    ($method ne 'dhcp')) {
            return;
}

my $mtu = EBox::Config::configkey("mtu_$iface");
my $name = $iface;
</%init>
iface <% "$name inet $method" %>
% if ($iface =~ /^vlan/) {
%    my $vlan = $networkMod->vlan($iface);
vlan-raw-device <% $vlan->{interface} %>
% }
% if ($method eq 'static') {
      address <% $networkMod->ifaceAddress($iface) %>
      netmask <% $networkMod->ifaceNetmask($iface) %>
      broadcast <% $networkMod->ifaceBroadcast($iface) %>
% if ($name eq 'eth1') {
      up route add -net 224.0.0.0/4 dev eth1
% }
% }
% if ($mtu) {
      mtu <% $mtu %>
% }
</%def>

iface eth1:brainbox inet static
    address 192.168.127.1
    netmask 255.255.255.0
    broadcast 192.168.127.255

iface eth1:netgear inet static
    address 192.168.0.254
    netmask 255.255.255.0
    broadcast 192.168.0.255

iface eth1:icpdas inet static
    address 192.168.255.2
    netmask 255.255.255.0
    broadcast 192.168.255.255

iface eth1:battery inet static
    address 192.168.1.1
    netmask 255.255.255.0
    broadcast 192.168.1.255

# Source additional network interface config file so that
# configurator can manage list of network devices.
#
# Ubuntu 14.04
#source-directory /etc/network/interfaces.d
# Ubuntu 16.04
#source/etc/network/interfaces.d/*
