six==1.10.0
MySQL-python==1.2.5
requests==2.10.0
pyserial==2.7.0
pexpect==4.2.0
-e git+{{ git_repo }}/simple-db-migrate#egg=simple-db-migrate
pymodbus==1.4.0
setproctitle==1.1.10
bitarray==0.8.1
boto3==1.4.6
numpy==1.13.1
zmq==0.0.0
Jinja2==2.9.6
pytz==2018.5
tzlocal==1.5.1
#-e git+{{ git_repo }}/pyzmq#egg=zmq
